ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 8px 8px 6px 6px;
}

#navbar {
  float: right;
  height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding-top: 14px;
  padding-right: 18px;
}

#logo {
  padding-top: 200px;
}

#search {
  margin: 27px auto;
  border: 1px solid #DDDDDD;
  height: 38px;
  width: 600px;
}

#search:hover {
  border: 1px solid blue;
}

form input {
  margin: 4px;
  border: 0px solid #DDDDDD;
  font-size: 24px;
  width: 90%;
  outline: 0px;
}

#buttons {
  width: 272px;
  margin: auto;
}

#button-left {
  display: inline-block;
  border: 1px solid #F2F2F2;
  width: auto;
  float: left;
  padding: 10px 15px 10px 15px;
  height: 14px;
  margin-top: 4px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #F2F2F2;
  color: #777777;
}

#button-right {
  display: inline-block;
  border: 1px solid #F2F2F2;
  width: auto;
  float: right;
  padding: 10px 15px 10px 15px;
  height: 14px;
  margin-top: 4px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #F2F2F2;
  color: #777777;
}

#button-left:hover {
  display: inline-block;
  border: 1px solid #BBBBBB;
  width: auto;
  float: left;
  padding: 10px 15px 10px 15px;
  height: 14px;
  margin-top: 4px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #F2F2F2;
  color: #111111;
}

#button-right:hover {
  display: inline-block;
  border: 1px solid #BBBBBB;
  width: auto;
  float: right;
  padding: 10px 15px 10px 15px;
  height: 14px;
  margin-top: 4px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #F2F2F2;
  color: #111111;
}

#footer {
  height: 42px;
  background-color: #EEEEEE;
  width: 100%;
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

span ul li {
  font-size: 13px;
  /*padding-right: 23px;*/
  color: #505050;
}

.footer-right {
  padding-left: 18px;
}

.footer-left {
  padding-right: 18px;
}

/* To do:
  - Lighten up text one shade on "John" and footer bar text
  - Perfect positioning of text on bottom of screen
  - Right part of footer*/
